
{{ ajax_pager|raw }}

<table class='table'>
   <thead>
   <tr><th colspan='5' class="center">{{ __('Historical') }}</th></tr>
   <tr>
      <th></th>
      <th>{{ __('Name', 'glpi') }}</th>
      <th>{{ __('Significance') }}</th>
      <th>{{ __('Date', 'glpi') }}</th>
   </tr>
   </thead>
   <tbody>
   {% if events|length == 0 %}
      <tr><td colspan="4">{{ __('No events yet') }}</td></tr>
   {% else %}
      {% for event in events %}
         <tr id='siemevent_{{ event.id|e ('html_attr')}}' class='{{ event.css_class|e('html_attr') }}' onclick='window.pluginSiem.toggleEventDetails(this);'>
            <td class="center">
               <i class="{{ event.icon|e('html_attr') }} fa-lg" title="{{ event.significance|e('html_attr') }}"></i>
            </td>
            <td>{{ event.name|e }}</td>
            <td>{{ event.significance|e }}</td>
            <td>{{ event.date|e }}</td>
         </tr>
         <tr id="siemevent_{{ event.id|e('html_attr') }}_content" class="tab_bg_2" hidden="hidden">
            <td colspan="4">
               {# TODO Try to remove raw filter here #}
               <p>{{ event.content|raw }}</p>
            </td>
         </tr>
      {% endfor %}
   {% endif %}
   </tbody>
</table>

{{ ajax_pager|raw }}
